<html>
    <head>
        <%- include partials/header.ejs %>
        <style>
            body{
            background-image: url("./images/student-experience-background.jpg");
            background-size: 100%;
            }
        </style>
    </head>
    <body>
        </div>
        <div class="experience-container">
            <h1>Take On Your Next Adventure</h1>
            <h5>
                As a Rotary Youth Exchange student, you’ll spend up to a year living with host families and attending school in a different country.
                <br>
                <br>    ​
                Whether you participate in Rotary’s long-term or short-term Youth Exchange programs, you’ll learn a new way of living, a great deal about yourself, 
                and maybe even a new language. You’ll also be an ambassador, teaching people you meet about your country, culture, and ideas. You can help bring the world closer 
                – and make some good friends in the process.
                <br>
                <br>    
                For over 75 years, students and host families have broadened their horizons through Rotary Youth Exchange. More than 80 countries and over 8,000 students 
                each year participate in the program, which is administered at the regional level by Rotary districts and at the local level by Rotary clubs.
            </h5>
        </div>
    </body>
    <footer>
            <%- include partials/footer.ejs %>
    </footer>
</html>