<%- include partials/header.ejs %>

<table>
        <tr>
            <td>
                <h3>Host an Exchange Student</h3>
                <h5>
                    A host family for a Rotary exchange student, you assume parental responsibility for this young ambassador from another country, to provide shelter and sustenance,
                    guidance and counsel, and love and support to the child of strangers who may live thousands of miles from you. They have their own insurance and pocket money
                    - you will offer room and board. We do not pay any stipend to host families.
                <br>
                    Rotary Clubs are always looking for potential host families.
                </h5>
            </td>
            <td>
                <img src="../images/host-family.jpg">
            </td>
        </tr>

        <tr>
            <td>
                <img src="../images/host-responsibility.jpg">
            </td>
            <td>
                <h3>Host Family Responsibilities</h3>
                <h5>
                    To accept the exchange student as a new member of your family. The student will be governed not only by the rules of the program but by the rules of your household.
                    You are responsible for the safety of the exchange student the same as for your own children. Although you might become a bit more of the soccer mom or dad for normal
                    everyday activities, it is not your responsibility to act as a taxi service or a tour guide. Rotarians for the hosting club will be helping in these areas.
                </h5>
            </td>
        </tr>


<tr>
  <td>
    <h3>Opening Your Heart and Home</h3>

    <h5>Have you ever dreamed of exploring another culture? Language? Customs? By hosting a Rotary Youth Exchange Student for 3 to 5 months you can expose your family to another
    culture without ever having to leave home!</h5>
    <br>
    <h5>Without the willingness and sincerity of families who have opened their hearts and homes to students they have never met, the Rotary Youth Exchange Program would not exist.
    In an ever-changing world, it is important that we expose our children, our students and ourselves to areas and people unlike us—it’s how we open our eyes to a global
    community that shares the same hopes and dreams that we do.</h5>
    <br>
    <h5>In the landscape of today, adults and children alike must learn about others and reaffirm their faith that people from all over the world are good.
    What better way to do that than becoming a host family?</h5>
  </td>
  <td><img src="../images/host-bedroom.jpg"></td>
</tr>

<tr>
  <td>
    <img src="../images/host-process.jpg">
  </td>
  <td>
    <h3>Becoming a Host Family</h3>

    <h5>A variety of family structures are perfect for being host families—small, big, with many children, or no children. Working families - retired families -
    We aim to reflect real-world families to students, and we know that real families come in all shapes and sizes.</h5>
    <br>
     <h5><b>THE EXCHANGE PROCESS IS TRULY MUTUALLY REWARDING</h5></b></h5>
    <br>
    <h5>Similarities of cultures should be celebrated and differences should be embraced because there is so much to learn from one another.
    Each side can act as teachers, leaders, and ambassadors of their cultural background by answering questions, teaching each other,
    and opening minds to new thoughts and experiences. No matter our age, we are all students of culture and life, which is why becoming a host family is so rewarding.</h5>
  </td>
</tr>
</table>

<%- include partials/footer.ejs %>
