<html>
<head>
  <%- include partials/header.ejs %>
</head>
<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="jumbotron-container">
      <h1 class="display-4">
        RYE 7680
      </h1>
      <h3>
        Rotary Youth Exchange: Serving Central North Carolina
      </h3>
    </div>
    <div class="jumbotron-button"><a class="nav-item nav-link" href="https://yehub.net/cgi-bin/OER_get.cgi?pgid=apob0">
      Apply Now
    </a>
    </div>
    </div>
</div>
<div class=first-landing-div>
  <h4>
    More than 8,000 students each year travel to over 200 countries building cultural bridges by
    serving as ambassadors throughout the world and Rotarians are there to guide them and take
    part in the experience of creating global understanding.<br><br>
    District 7680 Youth Exchange is part of the Ohio-Erie multidistrict.
  </h4>
</div>
  </body>

<%- include partials/footer.ejs %>
</html>
