<html>
<head>
  <%- include partials/header.ejs %>
  <style>
      body {
          background-color: #EDF1FA;
      }
  </style>
</head>
<body>
    <div class="more-info-heading">
        <h2>Reach Out</h2>
        <h5>Want to know more? Just Ask.</h5>
    </div>
    <form>
        <div class="form-group more-info-form">
          <input type="email" class="form-control" id="name" placeholder="Name" required>
          <input type="string" class="form-control" id="address" placeholder="Address" required>
          <input type="string" class="form-control" id="phoneNumber" placeholder="Phone Number" required>
          <input type="email" class="form-control" id="email" placeholder="Email Address" required>
          <button type="submit" class="btn more-info-button">Submit</button>
        </div>
      </form>
</body>
<%- include partials/footer.ejs %>
</html>