<html>
<head>
  <%- include partials/header.ejs %>
</head>
<body>
<div class="thanks-container">
  <h3>Thanks for Reaching Out</h3>
  <h6>Someone from RYE will be in touch with you very soon with answers</h6>
</div>
</body>
  <%- include partials/footer.ejs %>
</html>
