body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#EDF1FA;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #f5aa30;
}

table {
  width: 100%;
  margin-top: 1em;
  padding-left: 2%;
  padding-right: 2%;
}

.host-process-picture {
  max-width: 99%;
  max-height: 99%;
  padding: 1%;
  margin-top: 1%;
  margin-bottom:1%;
  border: solid 0.25em #f6b448;
}

.final-process-picture {
  max-width: 99%;
  max-height: 99%;
  padding: 1%;
  margin-top: 1%;
  margin-bottom:7%;
  border: solid 0.25em #f6b448;
}

.host-text {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  height: 50%;
}

.navbar {
  background-color: #2c4e9f;
  color: #f6b448;
  position: sticky;
}

.navbar:a {
  color: #f6b448;
  position: sticky;
  text-align: left;
}

.nav-header{
  color: #f6b448;
}

.carousel-item {
  height: 75%;
  width: 100%;
}

.carousel-container {
  color: #f6b448;
  text-align: center;
  border: .5em solid #2c4e9f;
  background-color: #2c4e9f;
}

.first-landing-div {
width: 100%;
background-color:#f8c879;
padding: 3%;
}

.jumbotron-button {
  border: 1 em solid #2c4e9f;
  color: #f6b448;
  background-color: #2c4e9f;
  font-size: 2em;
  text-align: center;
  margin-left: 42%;
  margin-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.second-landing-div {
  border: .5em solid #f8c879;
  background-color: #f8c879;
  text-align: center;
  color: #2c4e9f;
  padding-left: 10em;
  padding-right: 10em;
  min-height: 15em;
}

.first-host-column {
  border: 1em solid #2c4e9f;
  background-color: #2c4e9f;
  color: #f6b448;
}

.second-host-column {
  border: 1em solid #f6b448;
  background-color: #f6b448;
  color: #2c4e9f;
}

.experience-container {
  color: #f6b448;
  text-align: justify;
  border: .5em solid #2c4e9f;
  border-radius: 1%;
  background-color: #2c4e9f;
  width: 30%;
  padding: 1%;
  margin: 1%;
}

.programs-table {
  text-align: center;
  color: #f6b448;
  text-align: center;
  border: .5em solid #2c4e9f;
  background-color: #2c4e9f;
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
}

.programs-table-header {
  text-align: center;
  color: #f6b448;
  text-align: center;
  border: .5em solid #2c4e9f;
  background-color: #2c4e9f;
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
}

.programs-table-data {
  color: #2c4e9f;
  background-color: #f6b448;
  border: 0.5em solid #f6b448;
  padding-top: 5%;
}

.programs-text-container {
  text-align: justify;
  width: 50%;
  margin-left: 26%;
  margin-top: 5%;
  border: .5em solid #2c4e9f;
  background-color: #2c4e9f;
  color: #f6b448;
  padding: 1%;
}

.more-info-heading {
  text-align: center;
  margin-top: 3%;
  margin-left:25%;
  margin-right: 25%;
  border: 0.25em solid #2c4e9f;
  padding: 3em;
  color: #f6b448;
  background-color: #2c4e9f;
}

.more-info-form {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3%;
  padding: 2%;
  border: 0.05em solid #000;
  background-color: #fff;
}

.form-control {
  margin-top: 3%;
  text-align: left;
}

.more-info-button {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 43%;
  margin-bottom: 3%;
  background-color: #2c4e9f;
  color: #f6b448;
}

.thanks-container {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 2%;
  border: 0.05em solid #000;
  background-color: #fff;
  text-align: center;
}

.footer {
  background-color: #2c4e9f;
  color:  #f6b448;
  position: fixed;
  text-align: left;
  font-size: 75%;
  padding-left: 2%;
  padding-top: 0.5%;
  margin-bottom: 0%;
  min-width: 100%;
  left: 0;
  bottom: 0;
}
